{% extends 'blog/base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>By {{ post.author }} | {{ post.published_date }}</p>
    <div>
        {{ post.body|linebreaks }}
    </div>
    <h2>Comments</h2>
    <ul>
        {% for comment in post.active_comments %}
            <li>
                <strong>{{ comment.author }}</strong> ({{ comment.created_at }}):<br>
                {{ comment.comment|linebreaks }}
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
            <li>{{ message }}</li>
        <form method="post">
            {% csrf_token %}
            
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </ul>
    <a href="{% url 'blog:list' %}">Back to posts</a>
{% endblock %}